<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title><block name="title"><title>Title</title></block></title>
    <load href="/Public/bootstrap/css/bootstrap.min.css"/>
    <load href="/Public/bootstrap/css/bootstrap-theme.min.css"/>
    <load href="/Public/bootstrap-tree/dist/bootstrap-treeview.min.css"/>
    <load href="/Public/bootstrap-datetime/css/bootstrap-datetimepicker.min.css"/>
    <link href="/Public/baidu/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <load href="/Public/bootstrap/css/my.css"/>
    <load href="/Public/lib/js/jq.js"/>
    <load href="/Public/baidu/third-party/jquery.min.js"/>
    <load href="/Public/baidu/umeditor.config.js"/>
    <load href="/Public/baidu/umeditor.min.js"/>
    <load href="/Public/baidu/lang/zh-cn/zh-cn.js"/>
    <load href="/Public/bootstrap/js/bootstrap.min.js"/>
    <load href="/Public/bootstrap/js/bootbox.min.js"/>
    <load href="/Public/bootstrap-tree/dist/bootstrap-treeview.min.js"/>
    <load href="/Public/bootstrap-tree/public/js/bootstrap-treeview.js"/>
    <load href="/Public/bootstrap-datetime/js/bootstrap-datetimepicker.min.js"/>
    <load href="/Public/lib/echarts/echarts.js"/>
    <style>
        body::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>
<body style="background: #f2f2f2;" >
<block name="body">

</block>
</body>
</html>